body {
  text-align: center;
  background-color: white;
}

#grid {
  margin: 0 auto;
  width: 800px;
}

.square {
  background-color: #eee;
  height: 20px;
  width: 20px;
  float: left;
}

.new-row {
  clear: left;
}

.activated {
  background-color: black;
}

#reset {
  padding: 10px 20px;
  margin-bottom: 15px;
}